<div class="row">
    <div class="col-md-8">
        <h3>Posts Listing</h3>
        <div>
            <a class="btn btn-primary" [routerLink]="['add']">Add Post </a>
        </div>
        <table class="table table-striped"> 
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts$ | async">
                    <td>
                        {{ post.id }}
                    </td>
                    <td>
                        {{ post.title | titlecase }}
                    </td>
                    <td>
                        {{ post.description | titlecase }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet />
    </div>
</div>